html, body{
    text-align: center;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
body{
   background: #F4F4F4;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#rotate-div {
    overflow: hidden;
    position: relative;
    width:100%;
    height:100%;
}
.chand {
    cursor: url(img/hand.cur), move;
}
.chand:active {
    cursor: url(img/hand-h.cur), move;
}


#hd{
    position: absolute;
    padding: 10px 0;
    left:0;
    width: 100%;
    z-index: 10;
}
#hd h1{
    position: relative;
    width: 80px;
    height: 30px;
    margin: 0 auto;
}

#hd .back, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  line-height: 0.8em;
  letter-spacing: 0.7em;
  transition-duration: 0.45s, 0.45s;

}
#hd .back:hover, .next:hover{
      letter-spacing: 0.2em;
}
#hd .back{
    padding: 10px 0px 10px 10px;
}
#hd .next{
    padding: 10px 10px 10px 0;
}
#hd a{
  color: #848484;

}
#hd .back{
  right: 58.4vw;
}
#hd .next{
  left: 58.4vw;
}

  #hd .back, .next{
    letter-spacing: 0.2em;
  }

.reference{
  position: absolute;
  bottom: 61px;
  transform:translateX(-50%);
  left: 50%;
  z-index: 5;
  line-height: 0.9em;
  width: 150px;
  height: 30px;
}
.mobile{
    position: absolute;
    display: inline-block;
width: 50px;
    height: 14px;
bottom: 1.2vh;
transform: translateX(-50%);
left: 50%;
z-index: 11;

cursor: pointer;

}
.mobile a{
width: 100%;
    height: 120%;
    display: inline-block;
}
.mobile:before, .mobile:after{
    position: absolute;
    top: 0;
    content: "";
    width: 2.2px;
    height: 100%;
    background: #ccc;

}
.mobile:before{
    left: 0;
    animation-name: positionleft;
animation-duration: 1.3s;
transition-duration: .8s;
}
.mobile:after{
    right: 0;
     animation-name: positionright;
animation-duration: 1.3s;
transition-duration: .8s;
}

@keyframes positionleft{
  0%{
    left: 40%;
}
  100%{
      left: 0;
}
}
@keyframes positionright{
  0%{
    right: 40%;
}
  100%{
      right: 0;
}
}

.mobile:hover.mobile:after{
    right: 30%;
}
.mobile:hover.mobile:before{
    left: 30%;
}

.reference a {
  color: #777;
}
.reference .Ref_first{
  font-size: 0.8em;
  margin-bottom: 5px;
  font-weight: 300;
  width: 100%;
}
.reference:hover .Ref_first{
  color: #999;
  transition: all .5s;
}
.reference .Ref_first:before{
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  top: -39%;
  left: 49.5%;
  transform: translateX(-50%);
  background: #aaa;
  transition: all .5s;
}
.reference:hover .Ref_first:after{
  top:70%;
  transition: all .5s;
  opacity: 1;
}
.reference .Ref_first:after{
  content: attr(data-text);
  opacity: 0;
  font-size: 0.9em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #777;
  transition: all .5s;
}



@media (max-width: 1024px){
  .reference .Ref_first:after{
    content: attr(data-text);
    top: 70%;
    opacity: 1;
  }
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    ...
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
    ...
}
/* Nintendo Wii controller, Microsoft Kinect */
@media (hover: hover) and (pointer: coarse) {
    ...
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    ...
}

}
