  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{font-family: Helvetica, sans-serif;}

#sub .title_en, .titleOpa, .contTitle p{
  font-family: Scala Caps;
}

#sub .forText, .next, .back{
 font-family: 'Apple Symbols', 'Didact Gothic', sans-serif;
}

#sub .bottomTitle .titleF, .ifGuid, .guideCont .contTitle{
font-family: 'Roboto', sans-serif; font-weight: 500;
}
#sub .bottomTitle .titleS, .mobile, .reference:after, .contTitle p span, .guideCont .contText{
font-family: 'Roboto', sans-serif; font-weight: 300;
}
.forText.reference{
     font-family: 'Apple Symbols', 'Didact Gothic', sans-serif;
}
