html, body{
    text-align: center;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
body{
   background: #F4F4F4;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#rotate-div {
    overflow: hidden;
    position: relative;
    width:100%;
    height:100%;
}
.chand {
    cursor: url(img/hand.cur), move;
}
.chand:active {
    cursor: url(img/hand-h.cur), move;
}


#hd{
    position: absolute;
    padding: 10px 0;
    left:0;
    width: 100%;
    z-index: 10;
}
#hd h1{
    position: relative;
    width: 80px;
    height: 30px;
    margin: 0 auto;
}

#hd .back, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  line-height: 0.8em;
  letter-spacing: 0.7em;
  transition-duration: 0.45s, 0.45s;

}
#hd .back:hover, .next:hover{
      letter-spacing: 0.2em;
}
#hd .back{
    padding: 10px 0px 10px 10px;
}
#hd .next{
    padding: 10px 10px 10px 0;
}
#hd a{
  color: #848484;

}
#hd .back{
  right: 58.4vw;
}
#hd .next{
  left: 58.4vw;
}
.reference.ifGuid{
    bottom: 14px;
    width: auto;
    font-size: 0.7em;
    margin-bottom: 5px;
    transition: 0.3s;
    cursor: pointer;
    color: #222;
}
.reference.ifGuid:hover{
    color: #aaa;
}
.guideCont{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #111;
    width: 100vw;
    z-index: 100;
}
.guideCont .ifGuid{
    color: #fff;
    z-index: 105;
    font-size: 0.8em;
}
.guideCont{
    display: none;
}
.guideCont .Cont{
    width: 450px;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 200px;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}
.guideCont .contTitle{
    width: 800px!important;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -2px;
    margin: 0 0 25px 0;
}
.contTitle p{
    font-size: 60px;
    line-height: 58px;
}
.contTitle p span{
    font-size: 20px;
}
.contText .last{
    margin-top: 5px;
}
.guideCont .contText{
    width: 450px;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 18px 2px;
    font-weight: 400;
}
@media (max-width: 1024px){
  /* #hd .back{
    right: 75.5vw;
  }
  #hd .next{
    left: 76.5vw;
  } */
  #hd .back, .next{
    letter-spacing: 0.2em;
  }
  /* #hd h1 {
    width: 68px;
} */
}
