#hd {
    position: absolute;
    padding: 72px 0;
    left: 0;
    width: 100%;
    z-index: 10;
    bottom: 0;
}
#hd h1 {
    position: relative;
    width: 186px;
    height: 30px;
    margin: 0 auto;
}
#hd a {
    color: #848484;
}

/*
.mainMenu input[id*="slide"]{
  display: none;
}
*/
.mainMenu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mainMenu .slideWrap{
  max-width: 1200px;
  margin: 0 auto;
/*  overflow: hidden;*/
    width: 100%;
    height: 100vh;
}

.mainMenu .slidelist{
  white-space: nowrap;
  font-size: 0;
    margin-left: 6vw;
}

.mainMenu .slidelist li{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}


.mainMenu .slidelist .img{
  width: 89%;
    height: 100vh;
}
.mainMenu .img01{
    background-image: url("../img/img01.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainMenu .img02{
    background: blue;
}
.mainMenu .img03{
    background: green;
}
.mainMenu .img04{
    background: yellow;
}
.mainMenu .img05{
    background: black;
}
.mainMenu .img06{
    background: red;
}
.mainMenu .img07{
    background: blue;
}
.mainMenu .img08{
    background: green;
}
.mainMenu .img09{
    background: yellow;
}
.mainMenu .img10{
    background: black;
}
